@charset "UTF-8";
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.upload-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
a {
	text-decoration: none;
}
h1 {
    color: #2196f3;
}

.upload-button-one {
    display: inline-block;
    background-color: #2196f3;
    color: white;
    padding: 8px 15px;
    margin: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.upload-button-two {
    display: inline-block;
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 10px;
    border:0;
    cursor: pointer;
    transition: background-color 0.3s;
}
.upload-button-one:hover,
.upload-button-two:hover {
    background-color: #f50057;
}

p {
    margin: 5px 0;
}
